@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

.header {
  display: grid;
  grid-template-areas: "logo nav";
  grid-template-columns: 20% 80%;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: $secondary-color;
  color: $primary-color;
  font-weight: bolder;
  padding: 1.5rem 1rem;
  &-logo {
    grid-area: logo;
    margin: auto;
    &:hover {
      cursor: pointer;
    }
  }
  &-nav {
    margin: auto;
    & li {
      position: relative;
      display: inline;
      margin: 1rem;
      transition: all ease-in-out;
      & input {
        text-transform: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-align: center;
      }
      &:hover:not(:nth-child(6)) {
        cursor: pointer;
        &:after {
          content: " ";
          position: absolute;
          height: 2px;
          width: 100%;
          background-color: $primary-color;
          top: 3rem;

          left: 0;
        }
      }
    }
    &-search {
      border: 1px solid $primary-color;
      padding: 0.5rem;
      border-radius: 5px;
      position: relative;
      background-color: $secondary-color;
      outline: none;
    }
  }
}

input::placeholder {
  color: $primary-color;
}
.fa-search {
  position: absolute;
  top: 1px;
  left: 64%;
}

.border-bottom-small {
  border-bottom: 1px solid $primary-color;
}

.menu-btn {
  display: none;
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
    position: absolute;
    z-index: 101;
    right: 5%;
    top: 5%;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    @include transition-ease;
    &__burger {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 2rem;
      height: 3px;
      background: $primary-color;
      @include transition-ease;
      &::before {
        content: "";
        position: absolute;
        top: -8px;
        width: 2rem;
        height: 3px;
        background: $primary-color;
        @include transition-ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 8px;
        width: 2rem;
        height: 3px;
        background: $primary-color;
        @include transition-ease;
      }

      &.open {
        transform: rotate(720deg);
        background: transparent;
        &::before {
          transform: rotate(45deg) translate(5px, 8px);
        }
        &::after {
          transform: rotate(-45deg) translate(3px, -7px);
        }
      }
    }
  }

  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.8;
    z-index: 100;
    visibility: hidden;
    &.open {
      visibility: visible;
    }
    .menu-nav {
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      background: $secondary-color;
      padding-right: 1rem;
      height: 100vh;
      list-style-type: none;
      transform: translateY(-100%);
      @include transition-ease;
      &.open {
        transform: translateY(0);
      }

      &__item {
        transform: translateX(100vw);
        @include transition-ease;

        &.open {
          transform: translateX(0);
        }
        &.active > a {
          color: $primary-color;
        }
      }
      &__link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: 300;
        @include transition-ease;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  @for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}) {
      transition-delay: ($i * 0.1s)+0.15s;
    }
  }

  .fa-search {
    top: 0.6rem;
  }
}
