.main1 {
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-color, 0.3),
      rgba($secondary-color, 0.6)
    ),
    url("../images/top-back-image.jpg");
  max-width: 100vw;
  height: 80vh;
  background-size: cover;
  background-position: top;
  color: white;
  position: relative;
  & .main {
    position: absolute;
    top: 30%;
    left: 5%;
    &-heading {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    &-caption {
      margin-bottom: 1rem;
      font-size: 1.2rem;
    }
    &-search {
      border-radius: 1rem;
      width: 16rem;
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid $primary-color;
    }
    &-icon {
      position: absolute;
      top: 80%;
      left: 48%;
      color: $primary-color;
      font-size: 1rem;
    }
  }
}

@media (max-width: 425px) {
  .main1 {
    & .main-icon {
      top: 84%;
      left: 55%;
    }
  }
}

@media (max-width: 375px) {
  .main1 {
    & .main-icon {
      top: 84%;
      left: 63%;
    }
  }
}
@media (max-width: 320px) {
  .main1 {
    & .main-icon {
      top: 84%;
      left: 74%;
    }
  }
}
