// $primary-color: #8575cd;
$primary-color: #534888;
// $secondary-color: #ede7f6;
$secondary-color: #f0eef7;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background-color: $secondary-color;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.5;
  // overflow: hidden;
}

@import "./header";
@import "./main-pic";
@import "./features";
@import "./courses";
@import "./categories";
@import "./reviews";
@import "./btn";
@import "./footer";
